body {
    background-color:#3a4042
}

#title{
    font-size:50px;
    color:white;
    text-align:center;
    font-weight:bold;
    text-shadow:0px 0px 3px #c30fd3;
}
#alphabetContainer{
    position:absolute;
    top:30%;
    left:70%;
    display:grid;
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: repeat(5,40px);
    gap:5px;
    width:300px;
}
.letter{
    background:#8ecccc;
    border:3px solid rgb(7, 109, 66);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    font-weight:bold;
    border-radius: 10px;;
}
.letter:active{
    background-color:rgb(41, 139, 107);
    color:blanchedalmond;
    font-weight:bold;
}

.answers{
    display:flex;
    gap:20px;
    position: absolute;
    left:30%;
    top:60%;
    width:auto;
    font-size:50px;
    font-weight:bold;
    color:#c30fd3;
}
.eachLetter{
   
    /* color:transparent; */
    display:flex;
    justify-content: center;
    align-items: center;
    width:50px;
    border-bottom: 3px solid white;

}

#hint{
    width:100px;
    height:50px;
    position:absolute;
    top:70%;
    left:30%;
    font-size:30px;
    background-color: black;
    color:orange;
}
#hint:active{
    color:orange;
    background-color:grey;
}

#hintText{
    position:absolute;
    top:80%;
    left:30%;
    font-size:20px;
    color:white;
}

#category{
    position:absolute;
    left:40%;
    top:45%;
    font-size:50px;
    color:aqua
}